<!DOCTYPE html>
<html>
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Wiki Donate">
    <meta name="description" content="Wiki Donate">
    <meta name="category" content="Donation">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Page Title -->
    <title>Wiki Donate | Preview</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this Page -->
    <link href="https://fonts.googleapis.com/css?family=Gotu|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this page -->
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="textbox">
      <form
       action="/submit"
       method="POST"
      >
        <div class="banner">
          <h1>Wiki Donate</h1>
        </div>
        <br/>
        <p>Donation to WikiMedia Foundaton </p>
        <br/>
        <div class="colums">
          <div class="item">
            <label for="lname">Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname" value="<%= registrationDetails.lastName%>" readonly/>
          </div>
          <div class="item">
            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="fname" value="<%= registrationDetails.firstName%>" readonly/>
          </div>
          <div class="item">
            <label for="street">Street Address<span>*</span></label>
            <input id="street" type="text" name="street" value="<%= registrationDetails.street%>" readonly/>
          </div>
          <div class="item">
            <label for="city">City<span>*</span></label>
            <input id="city" type="text" name="city" value="<%= registrationDetails.city%>" readonly/>
          </div>
          <div class="item">
            <label for="state">State/Region<span>*</span></label>
            <input id="state" type="text" name="state" value="<%= registrationDetails.state%>" readonly/>
          </div>
          <div class="item">
            <label for="country">Country<span>*</span></label>
            <!-- <text>  <%= registrationDetails.country %></text> -->
            <input type="text" name="country" id="country" value="<%= registrationDetails.country %>">
          </div>
          <div class="item">
            <label for="pcode">Postal Code<span>*</span></label>
            <input id="pcode" type="text" name="pcode" value="<%= registrationDetails.pcode%>" readonly/>
          </div>
          <div class="item">
            <label for="phone">Phone Number<span>*</span></label>
            <input id="phone" type="text" name="phone" value="<%= registrationDetails.phone%>" readonly/>
          </div>
          <div class="item">
            <label for="email">Email Address<span>*</span></label>
            <input id="email" type="text" name="email" value="<%= registrationDetails.email%>" readonly/>
          </div>
          <div class="item">
            <label for="form_of_contact">Preferred form of Contact<span>*</span></label>
            <!-- <text> <%= registrationDetails.formOfContact %> </text> -->
            <input type="text" name="formOfContact" id="formOfContact" value="<%= registrationDetails.formOfContact %>">
          </div>
          <div class="item">
            <label for="form_of_payment">Preferred form of Payment<span>*</span></label>
            <!-- <text>  <%= registrationDetails.formOfPayment %> </text> -->
            <input type="text" name="formOfPayment" id="formOfPayment" value="<%= registrationDetails.formOfPayment %>">
          </div>
          <!-- Drop down frequency of donation-->
          <div class="item">
            <label for="freqOfDonation">Frequency of Donation<span>*</span>
              <!-- <text>  <%= registrationDetails.freqOfDonation %> </text> -->
              <input type="text" name="freqOfDonation" id="freqOfDonation" value="<%= registrationDetails.freqOfDonation %>">
            </label>
          </div>
          
          <div class="item">
            <label for="amtOfDonation">Amount of Donation (USD Annual)<span>*</span></label>
            <input 
              id="amtOfDonation"
              name="amtOfDonation"
              type="number"
              value="<%= registrationDetails.amtOfDonation %>" 
              data-type="currency"
              readonly
            />
          
          </div>

        </div>
        <div class="item">
          <label for="comments">Comments</label>
          <textarea id="comments" name="comments" rows="3" readonly><%= registrationDetails.comments %></textarea>
        </div>
      
        <div class="btn-block">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="textbox">
      <form
       action="/cancel"
       method="GET"
       >
        <div class="btn-block">
          <button >Cancel</button>
        </div>
      </form>
    </div>
  </body>
</html>